body{
    font-family: "Montserrat", serif;
    background-color: #18191a;
    color: white;
}
ol.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2a68b9;
    overflow: hidden;
  }
  
  ol.menu li {
    float: left;
  }
  
  ol.menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffff;
  }
  
  ol.menu li a:hover {
    background-color: coral;
  }

.paragraph{
    padding: 15px;
    font-size: 15pt;
    flex-direction: row;
    justify-content: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: lighter;
    color: #ffffff;
}
.image-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.images{
    width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: left;
}

.container{
    padding: 15px;
}
.styled-table {
    font-family: "Montserrat", serif;
    width: 35%;
    height: 250px;
    border: 2px solid #b3adad;
    border-collapse: collapse;
    padding: 10px;
    box-shadow: 0 0 5px #2a68b9;
}

.styled-table th {
    border: 2px solid #b3adad;
    padding: 5px;
    background: #2a68b9;
    color: #ffffff;
}

.styled-table td {
    border: 2px solid #b3adad;
    text-align: center;
    padding: 5px;
    color: #ffffff;
}